In [ ]:
Tuan Pham, Victoria Hall, Alexy Correa, Sahil Jain

# Final Project

One of the most important (and usually time consuming!) steps in the data science process is data pre-processing. 

Data prep includes:
* Data exploration  
* Data cleaning
* Feature engineering

In this assignment, you will do a little of each of these things.

In [2]:
import numpy as np
import pandas as pd
print("Imported libraries")

Imported libraries

In [3]:
# Data Cleaning
df = pd.read_csv('Unicorn_Companies.csv')

# Replace 4/17/2015 -> 3 separate columns on Month/Day/Year Joined
df[['Month Joined', 'Day Joined', 'Year Joined']] = df['Date Joined'].str.split('/', 3, expand=True)
df.drop('Date Joined', axis=1, inplace=True)

# Replace Nones in Numerical Data with 0
# Did not do it for 'Financial Stage' since it's categorical
df['Portfolio Exits'] = df['Portfolio Exits'].replace('None', 0)
df['Total Raised'] = df['Total Raised'].replace('None', '$0M')
df['Investors Count'] = df['Investors Count'].replace('None', 0)
df['Valuation ($B)'] = df['Valuation ($B)'].replace('None', '$0')
df['Founded Year'] = df['Founded Year'].replace('None', 0) # I say we kick these entries out but I'm leaving it at 0 for now
df['Deal Terms'] = df['Deal Terms'].replace('None', 0)

# Removed $ from data
df['Valuation ($B)'] = df['Valuation ($B)'].str[1:]

# Convert $M and $B to just $M
df['Total Raised ($M)'] = df['Total Raised'].str[1:-1]
df['Total Raised ($M)'] = pd.to_numeric(df['Total Raised ($M)'])
df.loc[df['Total Raised'].str[-1] == 'B', 'Total Raised ($M)'] *= 1000
df.drop('Total Raised', axis=1, inplace=True)

# Convert numerical data into floats/ints
df[['Valuation ($B)', 'Founded Year', 'Investors Count']] = df[['Valuation ($B)', 'Founded Year', 'Investors Count']].apply(pd.to_numeric)
df[['Deal Terms', 'Portfolio Exits', 'Month Joined']] = df[['Deal Terms', 'Portfolio Exits', 'Month Joined']].apply(pd.to_numeric)
df[['Day Joined', 'Year Joined', 'Total Raised ($M)']] = df[['Day Joined', 'Year Joined', 'Total Raised ($M)']].apply(pd.to_numeric)

df.head()

,Company,Valuation ($B),Country,City,Industry,Select Inverstors,Founded Year,Financial Stage,Investors Count,Deal Terms,Portfolio Exits,Month Joined,Day Joined,Year Joined,Total Raised ($M)
0,Bytedance,140.0,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,IPO,28,8,5,4,7,2017,7440.0
1,SpaceX,100.3,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,None,29,12,0,12,1,2012,6874.0
2,Stripe,95.0,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,Asset,39,12,1,1,23,2014,2901.0
3,Klarna,45.6,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,Acquired,56,13,1,12,12,2011,3472.0
4,Epic Games,42.0,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,Acquired,25,5,2,10,26,2018,4377.0